/* .spec{
    border: 2px solid black;
    background-color: aqua;
    height: 500px;
    width: 300px;


} */
h3{
    text-align: center;

}

.qaz {
    gap: 30px;
    justify-content: start;
    display: flex;
    width: 100%;
}
.ver{
    width: 30%;
    display: flex;
    flex-direction: column;
}


.butt{
    width: 120px;
    margin: 10px 0px;
    font-size: large;
    /* margin: inherit; */
}